.banner {
    background: var(--cor-azul-degrade);
    color: var(--cor-branca);
    text-align: center;
    padding: 2em 1.5em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1.5em;
}

.banner_pesquisa {
    font-size: 14px;
}