.banner {
    background: var(--cor-azul-degrade);
    color: var(--cor-branca);
    text-align: center;
    padding: 2em 1.5em;
}

.banner__titulo {
    font-size: 18px;
    font-weight: 700;
}

.banner__texto {
    font-weight: 500;
    margin: 1.5em;
    line-height: 24px;
}

.banner_pesquisa {
    background-color: transparent;
    border: 1px solid var(--cor-branca);
    border-radius: 24px;
    width: 100%;
    color: var(--cor-branca);
    padding: 1em;
}

.banner_pesquisa::placeholder {
    background: url("../img/Pesquisa.png");
    font-family: var(--fonte-principal);
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: var(--cor-branca);
    background-repeat: no-repeat;
    background-position: 2.5em;

}