.cabecalho {
    display: flex;
    background-color: var(--cor-branca);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container__imagem {
    padding: 0.5em;
}

.container__imagem--texto,
.container__botao,
.opcoes,
.opcoes__botao,
.texto__link {
    display: none;
}

.lista-menu {
    position: absolute;
    top: 100%;
    display: none;
    width: 60vw;
}


.container__botao:checked~.lista-menu {
    display: block;
}

.container__botao:checked ~ .container__rotulo > .cabecalho__menu-hamburguer{
    background-image: url("../img/menu_black.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--cor-azul-degrade);
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branca);
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__item {
    border: none;
}

.lista-menu__link {
    color: var(--cor-azul-degrade);
    text-transform: uppercase;
    background-clip: text;
    text-decoration: none;
}

@media screen and (min-width: 1024px) {

    .cabecalho__menu-hamburguer,
    .container__botao:checked~.lista-menu,
    .container__rotulo {
        visibility: hidden;
    }

    .container__imagem--texto {
        display: block;
    }

    .opcoes {
        display: flex;
        text-transform: uppercase;
    }

    .opcoes__item {
        padding: 2em 1em;
    }

    .lista-menu__item:hover{
        background: var(--cor-azul-degrade);
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--cor-branca);
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--cor-preta);
    }

    .container__imagem--transparente,
    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao:checked ~ .opcoes__rotulo > .opcoes__item {
        background: var(--cor-azul-degrade);
        color: var(--cor-branca);
    }
}


@media screen and (min-width: 1728px) {
    .container__dir {
        display: flex;
        margin-right: 5em;
        justify-content: space-between;
    }
    
    .botoes__links {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--cor-preta);
        margin-left: 2em;
    }
    
    .texto__link{
        display: block;
    }
    .container {
        margin-right: 3em;
    }

    .opcoes {
        margin-right: auto;
    }
}