.cabecalho {
    display: flex;
    background-color: var(--cor-branca);
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__botao {
    display: none;
}

.cabecalho__menu-hamburguer {
    width: 48px;
    height: 24px;
    display: inline-block;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
}

.container__imagem{
    padding: 0.5em;
}

.lista-menu{
    position: absolute;
    top: 100%;
    display: none;
    width: 60vw;
}


.container__botao:checked~.lista-menu{
    display: block;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--cor-branca);
}

.lista-menu__titulo {
    color: var(--cor-laranja);
    font-weight: 700;
}

.lista-menu__link {
    color: var(--cor-azul-degrade);
    text-transform: uppercase;
    background-clip: text;
    text-decoration: none;
}