.topicos {
    background: linear-gradient(97.54deg, #ffffff 35.49%, #EBECEE 165.37%);
}

.topicos__recentes {
    background: var(--cor-azul-degrade);
}

.topicos__titulo {
    color: var(--cor-branca);
    font-weight: 300;
    text-align: center;
    padding: 1.5em 0;
}

.botoes__topico {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-bottom: 1em;
}

.botao__topico {
    background: var(--cor-laranja);
    text-decoration: none;
    margin: 0.5em;
    padding: 1em 1.5em;
    font-size: 14px;
    color: var(--cor-branca);
}

@media screen and (min-width:1024px) {
    .topicos__titulo {
        font-size: 24px;
    }

    .botoes__topico {
        padding: 0 6em 1.5em 6em;
        align-content: center;
    }

    .botao__topico {
        font-size: 24px;
    }
}

@media screen and (min-width: 1728px) {
    .topicos__recentes {
        padding: 2em 0;
    }

    .topicos__titulo{
        font-size: 32px;
        padding-bottom: 1em;
    }
    .botoes__topico {
        padding: 0 25vw;
        padding-bottom: 1em;
    }
}